html, body {
  margin: 0;
  padding: 0;
  
}
canvas {
  display: block;
}

:root {
  --color-1: rgba(255, 0, 255, 1);
  --color-2: rgba(255, 0, 255, 0);
}

.prova1 {
  stop-color: var(--color-1);
  transition: 0.2s all;
}

.prova2 {
  stop-color: var(--color-2);
  transition: 0.2s all;
}


body {
font-family: 'Poppins', sans-serif;
background-color: #000000;
}

h1 {
  font-size: 60px;
  text-align: center;
}

input {
  display: block;
  margin: 20px auto;
}

section {
  text-align: center;
}

.contenitore{
  width:50%;
  display:block;
  margin: 0 auto;
  padding-top: 50px;
}
