html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

body {
font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 60px;
  text-align: center;
}

input {
  display: block;
  margin: 20px auto;
}

section {
  text-align: center;
}

.contenitore{
  width:50%;
]
