html, body {
  margin: 0;
  padding: 0;
  
}
canvas {
  display: block;
}

:root {
  --color-1: rgba(255, 0, 255, 1);
  --color-2: rgba(255, 0, 255, 0);
}

.prova1 {
  stop-color: var(--color-1);
  transition: 0.2s all;
}

.prova2 {
  stop-color: var(--color-2);
  transition: 0.2s all;
}


body {
font-family: 'Poppins', sans-serif;
background-color: #000000;
}

h1 {
  font-size: 60px;
  text-align: center;
}

input {
  display: block;
  margin: 20px auto;
}

section {
  text-align: center;
}

.contenitore{
  width:50%;
  display:block;
  margin: 0 auto;
  padding-top: 50px;
}


#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 900px;
  max-height: 540px;
  margin-left: -450px;
  margin-top: -270px;
  border: 2px solid #FFF;
  background: #FFF;
  z-index: 1002;
  overflow: visible;
}

#boxclose {
  float: right;
  cursor: pointer;
  color: #fff;
  border: 1px solid #AEAEAE;
  border-radius: 3px;
  background: #222222;
  font-size: 31px;
  font-weight: bold;
  display: inline-block;
  line-height: 0px;
  padding: 11px 3px;
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1002;
  opacity: 0.9;
}

.boxclose:before {
  content: "×";
}

#fade:hover ~ #boxclose {
  display:none;
}
